.git
.github
.venv

__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
.mypy_cache

.coverage
coverage.xml
htmlcov

.env
.env.*
*.log

.vscode
.idea

tests
docs
scripts

build
dist
*.egg-info

node_modules
